.Weather {
    max-width: 1200px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 30px;
    background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}

#search-form {
    text-align: center;
}

.weather-time {
    text-align: center;
}

.weather-time h1 {
font: 50px;
}

.weather-time li {
    list-style: none;
    font-size: 28px;
    position: relative;
    right: 2%;
}