.Weather {
    max-width: 1200px;
    margin: 30px auto;
    padding: 50px;
    border-radius: 20px;
    background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}

.WeatherInfo {
    height: 250px;
}

.btn {
    position: relative;
    left: 4px;
}

.weather-time{
    position: relative;
    right: 10px;
}

.weather-time h1 {
font: 70px;
}

.temperature{
   color:  #77628c; 
   font-size: 40px;
}

.WeatherTemperature {
    font-size: 25px;
}

.day-time {
    font-size: 30px;
}

.currentIcon{
    block-size: 150px;
    position: relative;
    top: 10px;
    left: 150px;
}


.weather-info {
    max-width: 160px;
    font-size: 15px;
    position: relative;
    left: 70%;
    bottom: 145px;
    border-radius: 20px;
    background: #f1f1f1;
   padding: 20px;
   box-shadow: 2px 5px 5px #c4bbf0;
   margin: 10px;
}

hr {
    position: relative;
    bottom: 10px;
}